   <!-- Header and Nav -->
 
  <div class="row">
    <div class="small-12 columns">
      <h1><%= image_tag "logo-sinasempu.jpg" %></h1>
    </div>
  </div>
 
  <!-- End Header and Nav -->
 
 
  <!-- First Band (Image) -->
 
  <div class="row">
    <div class="large-12 columns">
		<h1>Construindo com você um novo SINASEMPU-RJ</h1>
		<h3><a href="#" class="button [radius round]">quero contribuir com sugestões</a></h3>
	    
    </div>
  </div>
  
  <!-- Second Band (Image Left with Text) -->
  
  <div class="row">
	<div class="large-12 columns">
		
		<h1><%= image_tag "construcao.jpg" %></h1>
		
	</div>
	
	
  </div>
  <br />
  <br />
 
 <!-- Third Band (Image Left with Text) -->
 
 <div class="row">
	 
   <div class="large-4 columns">
     <img src="http://placehold.it/400x300&text=[img]">
   </div>
   
   <div class="large-8 columns">
     <h4>This is a content section.</h4>

     <p class="cor-um">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>

     <p class="cor-um">Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

   </div>
   
 </div>
 <br />
 <br />
  <!-- Third Band (Image Right with Text) -->
 
  <div class="row">
    <div class="large-8 columns">
      <h4>This is a content section.</h4>
 
      <p class="cor-um">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
 
      <p class="cor-um">Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
 
    </div>
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]">
    </div>
  </div>
  <br />
  <br />
 
  <!-- Third Band (Image Left with Text) -->
 
  <div class="row">
	 
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]">
    </div>
   
    <div class="large-8 columns">
      <h4>This is a content section.</h4>

      <p class="cor-um">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>

      <p class="cor-um">Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

    </div>
   
  </div>
  <br />
  <br />
  
  
  <form class="form">
    <div class="row">
      <div class="large-12 columns">
      	<h2 class="form">Lorem Ipsum dolor sit amet, consectetur</h2>
      </div>
	  
    </div>
    <div class="row">
		
     <div class="large-6 small-12 columns">
        <label>
          <input type="text" placeholder="seu email por favor!" />
        </label>
      </div>
	  <div class="large-6 small-12 columns">
        <label>
		  <textarea placeholder="sua sugestão..."></textarea>
		</label>
        
		
		<a href="#" class="button expand">enviar</a>
      </div>  
    </div>
   
  </form>
 
 
  <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-6 columns">
          <p>© 2013 SINASEMPU-RJ - Sindicato dos Servidores do MPU e do Conselho Nacional do Ministério Público.</p>
        </div>
        <div class="large-6 columns">
          <p>Desenvolvido por Agência Trevo</p>
        </div>
        
      </div>
    </div>
  </footer>
  