<div class="row">
 
          <div class="large-12  columns">
	
	<h1>Histórico</h1>


<h2>Fundação</h2>
<p>Fundado em 1995, o SINASEMPU é a legítima entidade sindical representativa dos servidores dos quatro ramos do MPU no país, bem como do Conselho Nacional do Ministério Público-CNMP, sejam eles ativos ou aposentados. Em 1996, contava com 400 sindicalizados. Hoje, são mais de  3 mil, reunidos em Seções Sindicais distribuídas em 24 estados da federação.</p>
<h2>Comunicação</h2>
<p>Em âmbito nacional, o SINASEMPU oferece importantes canais de comunicação com sua base, por meio do Jornal Conscientizando, do Boletim Eletrônico Semanal e do website www.sinasempu.org.br. O Sindicato também produz materiais específicos sobre temas de grande interesse da categoria, como é o caso da cartilha sobre Assédio Moral.</p>
<h2>Setor Jurídico</h2>
<p>O setor Jurídico do SINASEMPU trabalha incansavelmente para assegurar os direitos dos servidores do MPU, a partir da propositura de ações judiciais coletivas e individuais. As ações podem ser consultadas online, através da Página Jurídica. Na página eletrônica do sindicato, vários outros serviços são oferecidos aos sindicalizados: filiação, recadastramento, permuta e relação de convênios. O SINASEMPU dispõe ainda de um serviço 0800 (0800-7042819) para propiciar uma maior interação servidor/sindicato.</p>
<h2>Política</h2>
<p>Mas é na luta política que o SINASEMPU tem se forjado como importante arma para assegurar a valorização dos servidores do MPU, ao conquistar benefícios e assegurar direitos à categoria.</p>


</div>

</div>

</br></br>