</br>
</br>


<!-- Main Page Content and Sidebar -->

<div class="row">

  <!-- Main Blog Content -->
  <div class="large-9 columns" role="content">

    <article>

      <h3><a href="#">Diretor do SINASEMPU conversa com PGR</a></h3>
      <h6>Publicado por <a href="#">SINASEMPU-RJ</a> em 30 de março de 2014.</h6>

      <div class="row">
        <div class="large-6 columns">
          	<p>O Diretor do SINASEMPU, Darci Rodrigues de Almeida participou nesta manhã da solenidade de “Lançamento da Ação Nacional – Multiplicando Estratégias – Planejamento Estratégico Nacional 3ª fase” no CNMP. O lançamento foi feito pelo Procurador-Geral da República e também presidente do CNMP, Rodrigo Janot.</p>

			
        </div>
        <div class="large-6 columns">
          <img src="http://placehold.it/400x240&text=[img]" />
        </div>
      </div>

      <p>Na ocasião, o Diretor Darci conversou com o Procurador-Geral, Rodrigo Janot e cobrou a reunião para decidir qual o plano será encaminhado ao Congresso Nacional. Informou ao PGR que o SINASEMPU já havia encaminhado um ofício solicitando a reunião e que já tem uma posição oficial sobre o plano de cargos e salários dos servidores do MPU. O PGR perguntou ao Darci, se os sindicatos já haviam conversado, o diretor informou que se reuniram novamente na última sexta-feira (28) e que existe uma proposta consensual, conforme foi colocada no ofício anteriormente. Disse ainda, que os sindicatos só estão aguardando um posicionamento da Administração para fechar a proposta. O Procurador-Geral anuiu e disse que dará encaminhamento ao pedido.</p>

    </article>

    <hr />

    <article>

      <h3><a href="#">Blog Post Title</a></h3>
      <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>

      <div class="row">
        <div class="large-6 columns">
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
          <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
        </div>
        <div class="large-6 columns">
          <img src="http://placehold.it/400x240&text=[img]" />
        </div>
      </div>

      <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

      <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

    </article>

  </div>

  <!-- End Main Content -->


  <!-- Sidebar -->

  <aside class="large-3 columns">

    <h5>Categories</h5>
    <ul class="side-nav">
      <li><a href="#">News</a></li>
      <li><a href="#">Code</a></li>
      <li><a href="#">Design</a></li>
      <li><a href="#">Fun</a></li>
      <li><a href="#">Weasels</a></li>
    </ul>

    <div class="panel">
      <h5>Featured</h5>
      <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
      <a href="#">Read More →</a>
    </div>

  </aside>

  <!-- End Sidebar -->
</div>

</br>
</br>

<!-- End Main Content and Sidebar -->



