
 <!-- Footer -->
<div class="footer">
 <footer class="row">
   <div class="large-12 columns">
     <div class="row">
       <div class="large-6 columns">
         <p>© 2013 SINASEMPU-RJ - Sindicato dos Servidores do MPU e do Conselho Nacional do Ministério Público.</p>
       </div>
       <div class="large-6 columns">
         <p>Desenvolvido pela Agência Trevo</p>
       </div>
       
     </div>
	  <div class="row">
       <div class="large-6 large-centered columns">
          <p class="cor-dois">Em breve fabebook e twitter</p>
        </div>
	  </div>
   </div>
 </footer>
 </div>