<div class="row">
 
          <div class="large-12 show-for-small columns">
          <h3>Header</h3><hr>
        </div>
 
          <div class="large-3 small-6 columns">
            <%= image_tag "image1.png" %>
            <div class="panel">
              <a href="#">Description</a>
				<p>Loren Ipsum Dolor sit amet...</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <%= image_tag "image2.png" %>
            <div class="panel">
              <a href="#">Description</a>
				<p>Loren Ipsum Dolor sit amet...</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <%= image_tag "image1.png" %>
            <div class="panel">
              <a href="#">Description</a>
				<p>Loren Ipsum Dolor sit amet...</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <%= image_tag "image1.png" %>
            <div class="panel">
              <a href="#">Description</a>
				<p>Loren Ipsum Dolor sit amet...</p>
            </div>
          </div>
 
        </div>