<!DOCTYPE html>
<html>
<head>
  <title>SinasempuRjOrgBr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
  <script>
      document.write('<script src=/assets/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js><\/script>');
    </script>
  
  


  <script>
    $(document).foundation();
  </script>
</body>
</html>
